<ion-header class="header">
  <meta name="viewport" content="width=device-width" />
</ion-header>
<ion-content padding>
  <ion-img class="img-icon" style="width: 180px; height: 180px;" src="assets\icon\Logo.png"></ion-img>
  <div padding align="center" class="layout">

    <b>REVISIÓN DE JORNADAS</b>
  </div>

  <div class="wrapper">
  
      <div class="row">
   <ion-label class="label">ESCOGER CATEGORIA</ion-label>
       </div>
    <div class="row">
      <ion-button class="botton" expand="block" href="/jornadas-publications">TERCERA DIVISIÓN</ion-button>
    </div>
    <div class="row">
      <ion-button class="botton" expand="block">CUARTA DIVISIÓN</ion-button>
    </div>
    <div class="row">
      <ion-button class="botton" expand="block">QUINTA DIVISIÓN</ion-button>
    </div>
    <div class="row">
      <ion-button class="botton" expand="block">SEXTA DIVISIÓN</ion-button>
    </div>
    <div class="row">
      <ion-button class="botton" expand="block">SETIMA DIVISIÓN</ion-button>
    </div>
    <div class="row">
      <ion-button class="botton" expand="block">OCTAVA DIVISIÓN</ion-button>
    </div>
    <div class="row">
      <ion-button class="botton" expand="block">NOVENA DIVISIÓN</ion-button>
    </div>
    <div class="row">
      <ion-button class="botton" expand="block">DECIMA DIVISIÓN</ion-button>
    </div>
   
  </div>
</ion-content>