<ion-header class="header">
    <meta name="viewport" content="width=device-width" />
</ion-header>
<ion-content padding>
    <!-- logo -->
    <ion-img class="img-icon" style="width: 180px; height: 180px;" src="assets\icon\Logo.png"></ion-img>
    <!-- instruction -->
    <div padding align="center" class="layout">
        <b>ESCOGE UNA OPCIÓN</b>
        <!-- buttons-->
    </div>
    <div class=button-group>
        <div class="wrapper">

            <div class="row">
                <ion-button class="botton" expand="block">CREAR JORNADAS</ion-button>
            </div>

            <div class="row">
                <ion-button class="botton" expand="block" href="/jornada-review">REVISIÓN DE JORNADAS</ion-button>
            </div>
        </div>

        <div class="wrapper">

            <div class="row">
                <ion-button class="botton" expand="block">CREAR TABLAS DE POSICIONES</ion-button>
            </div>

            <div class="row">
                <ion-button class="botton" expand="block">REV TABLAS DE POSICIONES</ion-button>
            </div>
        </div>

        <div class="wrapper">
            <ion-button class="botton" expand="block">PRIMERA DIVISIÓN</ion-button>
        </div>
    </div>


</ion-content>