<ion-header class="header">
  <meta name="viewport" content="width=device-width" />
</ion-header>
<ion-content padding>
  <ion-img class="img-icon" style="width: 180px; height: 180px;" src="assets\icon\Logo.png"></ion-img>
  <div padding align="center" class="layout">
    <b>JORNADAS</b>
  </div>

  <div class="wrapper">
    <div class="row">
      <div class="drop-items">
        <ion-label class="label">CATEGORÍA</ion-label>
        <ion-list>
          <ion-select placeholder="SELECCIONE UNA" class="holder">
            <ion-select-option value="3">3° DIVISIÓN</ion-select-option>
            <ion-select-option value="4">4° DIVISIÓN</ion-select-option>
            <ion-select-option value="5">5° DIVISIÓN</ion-select-option>
            <ion-select-option value="6">6° DIVISIÓN</ion-select-option>
            <ion-select-option value="7">7° DIVISIÓN</ion-select-option>
            <ion-select-option value="8">8° DIVISIÓN</ion-select-option>
            <ion-select-option value="9">9° DIVISIÓN</ion-select-option>
            <ion-select-option value="10">10° DIVISIÓN</ion-select-option>
          </ion-select>

        </ion-list>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="row">
      <div class="drop-items">
        <ion-label class="label">REGIÓN</ion-label>
        <ion-list>
          <ion-select placeholder="SELECCIONE UNA" class="holder">
            <ion-select-option value="SAN JOSÉ">SAN JOSÉ</ion-select-option>
            <ion-select-option value="CARTAGO">CARTAGO</ion-select-option>
            <ion-select-option value="PUNTARENAS">PUNTARENAS</ion-select-option>
            <ion-select-option value="GUANACASTE">GUANACASTE</ion-select-option>
            <ion-select-option value="LIMÓN">LIMÓN</ion-select-option>
            <ion-select-option value="ALAJUELA">ALAJUELA</ion-select-option>
            <ion-select-option value="HEREDIA">HEREDIA</ion-select-option>
          </ion-select>

        </ion-list>
      </div>
    </div>
  </div>


  <div class="wrapper">
    <div class="row">
      <ion-label class="label">FECHA :</ion-label>
      <ion-row>
        <ion-col>
          <ion-select placeholder="DIA" class="holder">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="6">6</ion-select-option>
            <ion-select-option value="7">7</ion-select-option>
            <ion-select-option value="8">8</ion-select-option>
            <ion-select-option value="9">9</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
            <ion-select-option value="11">11</ion-select-option>
            <ion-select-option value="12">12</ion-select-option>
            <ion-select-option value="13">13</ion-select-option>
            <ion-select-option value="14">14</ion-select-option>
            <ion-select-option value="15">15</ion-select-option>
            <ion-select-option value="16">16</ion-select-option>
            <ion-select-option value="17">17</ion-select-option>
            <ion-select-option value="18">18</ion-select-option>
            <ion-select-option value="19">19</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="21">21</ion-select-option>
            <ion-select-option value="22">22</ion-select-option>
            <ion-select-option value="23">23</ion-select-option>
            <ion-select-option value="24">24</ion-select-option>
            <ion-select-option value="25">25</ion-select-option>
            <ion-select-option value="26">26</ion-select-option>
            <ion-select-option value="27">27</ion-select-option>
            <ion-select-option value="28">28</ion-select-option>
            <ion-select-option value="29">29</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
            <ion-select-option value="31">31</ion-select-option>

          </ion-select>
        </ion-col>

        <ion-col size="6">
          <ion-select placeholder="MES" class="holder">
            <ion-select-option value="ENERO">ENERO</ion-select-option>
            <ion-select-option value="FERBRERO">FERBRERO</ion-select-option>
            <ion-select-option value="MARZO">MARZO</ion-select-option>
            <ion-select-option value="ABRIL">ABRIL</ion-select-option>
            <ion-select-option value="MAYO">MAYO</ion-select-option>
            <ion-select-option value="JUNIO">JUNIO</ion-select-option>
            <ion-select-option value="JULIO">JULIO</ion-select-option>
            <ion-select-option value="AGOSTO">AGOSTO</ion-select-option>
            <ion-select-option value="SEPTIEMBRE">SEPTIEMBRE</ion-select-option>
            <ion-select-option value="OCTUBRE">OCTUBRE</ion-select-option>
            <ion-select-option value="NOVIEMBRE">NOVIEMBRE</ion-select-option>
            <ion-select-option value="DICIEMBRE">DICIEMBRE</ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col>
          <ion-input placeholder="AÑO" class="holder"></ion-input>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="wrapper">
    <div class="row">
      <ion-label class="label">HORA :</ion-label>
      <ion-row>
        <ion-col>
          <ion-input placeholder="HORA" class="holder"></ion-input>
        </ion-col>

        <ion-col size="6">
          <ion-input placeholder="MINUTOS" class="holder"></ion-input>
        </ion-col>

        <ion-col>
          <ion-select placeholder="--" class="holder">
            <ion-select-option value="AM">AM</ion-select-option>
            <ion-select-option value="PM">PM</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </div>
  </div>


  <div class="wrapper">
    <div class="row">

      <ion-row>

        <ion-label class="label">LUGAR :</ion-label>

        <ion-col size="12">
          <ion-input placeholder="" class="holder"></ion-input>
        </ion-col>

      </ion-row>
    </div>
  </div>


  <div class="wrapper">
    <div class="row">

      <ion-row>
        <ion-col size="6">
          <ion-label class="label">EQUIPO CASA :</ion-label>

        </ion-col>

        <ion-col size="6">
          <ion-label class="label">EQUIPO VISITA :</ion-label>

        </ion-col>

      </ion-row>
    </div>
  </div>

  <div class="wrapper">
    <div class="row">

      <ion-row>
        <ion-col size="6">
          <ion-input placeholder="" class="holder"></ion-input>

        </ion-col>

        <ion-col size="6">
          <ion-input placeholder="" class="holder"></ion-input>

        </ion-col>

      </ion-row>
    </div>
  </div>

  <div class="wrapper">
    <div class="row2">
      <ion-row class="row">
        <ion-row class="row">
          <ion-label class="label">GOLES :</ion-label>
          <ion-col size="6">
            
            <ion-input placeholder="CASA" class="holder"></ion-input>

          </ion-col>

        </ion-row>


        <ion-row class="row">
        <ion-label class="label">GOLES :</ion-label>
          <ion-col size="6">
           
            <ion-input placeholder="VISITA" class="holder"></ion-input>

          </ion-col>

        </ion-row>
      </ion-row>

    </div>
  </div>


  <div class="wrapper">
    <div class="row">
      <ion-button class="botton" size="small">ENVIAR</ion-button>
    </div>
  </div>

</ion-content>