<ion-header class="header">
  <meta name="viewport" content="width=device-width" />
</ion-header>
<ion-content padding>
  <ion-img class="img-icon" style="width: 180px; height: 180px;" src="assets\icon\Logo.png"></ion-img>
  <div padding align="center" class="layout">
    <b>REVISION DE JORNADAS</b>
  </div>


  <div class="wrapper">
    <ion-label class="label">LIMON</ion-label>
  </div>
  <div class="wrapper">
    <ion-label class="label">TERCERA DIVISIÓN </ion-label>
  </div>

  <div style="color:rgba(44, 41, 238, 0.685)">
  <div class="wrapper">
    <div class="row2">

      <ion-label class="label">FECHA: </ion-label>
      <ion-label class="label" style="color:rgba(41, 238, 84, 0.685)"> 01 ENERO 2018</ion-label>

    </div>
  </div>

  <div class="wrapper">
    <div class="row2">

      <ion-label class="label">HORA: </ion-label>
      <ion-label class="label" style="color:rgba(41, 238, 84, 0.685)"> 01:15 PM</ion-label>

    </div >
  </div>
  <div class="wrapper">
    <div class="row2">

      <ion-label class="label">LUGAR: </ion-label>
      <ion-label class="label" style="color:rgba(41, 238, 84, 0.685)"> CANCHA GUACIMO</ion-label>

    </div>
  </div>

  <div class="wrapper">
      <div class="row2">
  
        <ion-label class="label">EQUIPO CASA: </ion-label>
        <ion-label class="label" style="color:rgba(41, 238, 84, 0.685)">TIGRES </ion-label>
        
  
      </div>
    </div>

    <div class="wrapper">
        <div class="row2">
    
            <ion-label class="label">EQUIPO VISITA:</ion-label>
          <ion-label class="label" style="color:rgba(41, 238, 84, 0.685)"> TURRUCARES</ion-label>
    
        </div>
      </div>

  <div class="wrapper">
    <div class="row2">
      <ion-row class="row">
        <ion-row class="row">
          <ion-label class="label">GOLES :</ion-label>
          <ion-col size="6">

            <ion-input placeholder="2" class="holder"></ion-input>

          </ion-col>

        </ion-row>


        <ion-row class="row">
          <ion-label class="label">GOLES :</ion-label>
          <ion-col size="6">

            <ion-input placeholder="1" class="holder"></ion-input>

          </ion-col>

        </ion-row>
      </ion-row>

    </div>
  </div>
  <div class="wrapper">
      <div class="row">
        <ion-button class="botton" size="small">EDITAR</ion-button>
        <ion-button class="botton" color="secondary" size="small">PUBLICAR</ion-button>
      </div>
    </div>

  </div>

</ion-content>