<ion-header class="header">
  <meta name="viewport" content="width=device-width" />
</ion-header>
<ion-content padding>
  <ion-img class="img-icon" style="width: 180px; height: 180px;" src="assets\icon\Logo.png"></ion-img>
  <div padding align="center" class="layout">
    <b>REVISION DE JORNADAS</b>
  </div>
  <div class="wrapper">
      <ion-label class="label" style="color:rgba(41, 238, 84, 0.685)">LIMON</ion-label>
    </div>
    <div class="wrapper">
      <ion-label class="label">TERCERA DIVISIÓN </ion-label>
    </div>

  <ion-col>
  <div class="row">
  <div style="color:rgba(44, 41, 238, 0.685)">
  <div class="wrapper">
    <div class="row">

      <ion-label class="label">FECHA: </ion-label>
      <ion-label class="label" style="color:rgba(41, 238, 84, 0.685)"> 01 ENERO 2018</ion-label>

    </div>
  </div>

  <div class="wrapper">
    <div class="row">

      <ion-label class="label">HORA: </ion-label>
      <ion-label class="label" style="color:rgba(41, 238, 84, 0.685)"> 01:15 PM</ion-label>

    </div >
  </div>
  <div class="wrapper">
    <div class="row">

      <ion-label class="label">LUGAR: </ion-label>
      <ion-label class="label" style="color:rgba(41, 238, 84, 0.685)"> CANCHA GUACIMO</ion-label>
     

    </div>
  </div>

  <div class="wrapper">
      <div class="row">
  
        <ion-label class="label">EQUIPO CASA: </ion-label>
        <ion-label class="label" style="color:rgba(41, 238, 84, 0.685)">TIGRES </ion-label>
        <ion-label class="label">GOLES 1 </ion-label>
  
      </div>
    </div>

    <div class="wrapper">
        <div class="row">
    
          <ion-label class="label">EQUIPO VISITA:</ion-label>
          <ion-label class="label" style="color:rgba(41, 238, 84, 0.685)"> TURRUCARES</ion-label>
          <ion-label class="label">GOLES 3 </ion-label>
    
        </div>
      </div>

  <div class="wrapper">
      <div class="row">
        <ion-button class="botton" size="small" href="/jornadas">EDITAR</ion-button>
        <ion-button class="botton" color="secondary" size="small">PUBLICAR</ion-button>
      </div>
    </div>

  </div>
 </div>
 </ion-col>
 <ion-col>
 <div class="row">
  
    <div style="color:rgba(44, 41, 238, 0.685)">
    <div class="wrapper">
      <div class="row">
  
        <ion-label class="label">FECHA: </ion-label>
        <ion-label class="label" style="color:rgba(41, 238, 84, 0.685)"> 02 ENERO 2018</ion-label>
  
      </div>
    </div>
  
    <div class="wrapper">
      <div class="row">
  
        <ion-label class="label">HORA: </ion-label>
        <ion-label class="label" style="color:rgba(41, 238, 84, 0.685)"> 10:15 AM</ion-label>
  
      </div >
    </div>
    <div class="wrapper">
      <div class="row">
  
        <ion-label class="label">LUGAR: </ion-label>
        <ion-label class="label" style="color:rgba(41, 238, 84, 0.685)"> CANCHA GUACIMO</ion-label>
       
  
      </div>
    </div>
  
    <div class="wrapper">
        <div class="row">
    
          <ion-label class="label">EQUIPO CASA: </ion-label>
          <ion-label class="label" style="color:rgba(41, 238, 84, 0.685)">LIEBRES </ion-label>
          <ion-label class="label"> GOLES 2 </ion-label>
    
        </div>
      </div>
  
      <div class="wrapper">
          <div class="row">
      
            <ion-label class="label">EQUIPO VISITA:</ion-label>
            <ion-label class="label" style="color:rgba(41, 238, 84, 0.685)"> LINCES</ion-label>
            <ion-label class="label"> GOLES 0 </ion-label>
      
          </div>
        </div>
  
    <div class="wrapper">
        <div class="row">
          <ion-button class="botton" size="small" href="/jornadas">EDITAR </ion-button>
          <ion-button class="botton" color="secondary" size="small">PUBLICAR</ion-button>
        </div>
      </div>
  
    </div>
   </div>
  </ion-col>
</ion-content>