<ion-header class="header">
    <meta name="viewport" content="width=device-width" />
  </ion-header>
  <ion-content padding>
    <ion-img class="img-icon" style="width: 180px; height: 180px;" src="assets\icon\Logo.png"></ion-img>
    <div padding align="center" class="layout">
  
      <b>REVISIÓN DE JORNADAS</b>
    </div>
 
    <div class="wrapper">
       
        <div class="row">
          
            <div class="drop-items">
              <ion-label class="label">ESCOGER REGION</ion-label>
              <ion-list>
                <ion-select placeholder="SELECCIONE UNA" class="holder2" style="background-color: #154dadc5; color: #ffffff" >
                    <ion-select-option value="SAN JOSÉ">SAN JOSÉ</ion-select-option>
                    <ion-select-option value="CARTAGO">CARTAGO</ion-select-option>
                    <ion-select-option value="PUNTARENAS">PUNTARENAS</ion-select-option>
                    <ion-select-option value="GUANACASTE">GUANACASTE</ion-select-option>
                    <ion-select-option value="LIMÓN">LIMÓN</ion-select-option>
                    <ion-select-option value="ALAJUELA">ALAJUELA</ion-select-option>
                    <ion-select-option value="HEREDIA">HEREDIA</ion-select-option>
                </ion-select>
      
              </ion-list>
            </div>
          </div>
      <div class="row">
        <ion-button class="botton" color="secondary" expand="block" href="/jornadas-category">CONTINUAR</ion-button>
      </div>
    </div>
  </ion-content>