<ion-header>
  <meta name="viewport" content="width=device-width" />
</ion-header>
<ion-content padding>
  <ion-img class="img-icon" style="width: 180px; height: 180px;" src="assets\icon\Logo.png"></ion-img>
  <div padding align="center" class="layout">

    <b>LOGIN</b>
  </div>

  <div class="wrapper">
    <div class="row">
      <ion-label floating class="layout">NOMBRE DE CUENTA</ion-label>
      <ion-input class="holder" type="text" value="" #username></ion-input>
    </div>

  </div>

  <div class="wrapper">
    <div class="row">
      <ion-label floating class="layout">CONTRASEÑA</ion-label>
      <ion-input class="holder" type="password" #password></ion-input>
    </div>
  </div>
  <div class="wrapper">
    <div class="row">
      <ion-button class="botton" expand="block" href="/menu-admin">INICIAR SESIÓN</ion-button>
    </div>
    <div class="row">
        <ion-button class="botton" expand="block" href="/menu-managers"> temp INICIAR SESIÓN</ion-button>
      </div>
  </div>
</ion-content>